<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your own Blog</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div>
        <form action="/blog" method="post">
            <label> Please write your Blog here </label>
            <input type="text" name="title" placeholder="add title">
            <textarea name="body" placeholder="write here"></textarea>
        </form>
        <button type="submit">Add</button>
    </div>
    <label>add cover image</label>
    <div>
        <input type="file"
        class="form-control"
        id="coverImage"
        name="coverImage"
        aria-describedby="coverImage"
        />
    </div>
</body>
</html>