<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sit enim tempora non consequuntur vero hic dolores mollitia accusantium? Dolorum ut id voluptates optio? Cupiditate vero ratione ab consectetur id.
</body>
</html>